.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/


# Keone's naughty files!
obj/project.nuget.cache
bin/Debug/netcoreapp3.1/studentApi.dll
bin/Debug/netcoreapp3.1/studentApi.pdb
obj/project.assets.json
obj/studentApi.csproj.nuget.dgspec.json
obj/Debug/netcoreapp3.1/studentApi.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/studentApi.dll
obj/Debug/netcoreapp3.1/studentApi.pdb
obj/Debug/netcoreapp3.1/studentApi.assets.cache
obj/Debug/netcoreapp3.1/studentApi.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/studentApi.assets.cache
obj/Debug/netcoreapp3.1/studentApi.csprojAssemblyReference.cache
bin/Debug/netcoreapp3.1/studentApi.dll
bin/Debug/netcoreapp3.1/studentApi.pdb
obj/Debug/netcoreapp3.1/studentApi.assets.cache
obj/Debug/netcoreapp3.1/studentApi.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/studentApi.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/studentApi.dll
obj/Debug/netcoreapp3.1/studentApi.pdb
